* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: 100%;

    object-fit: cover;
}
#tope-de-pagina{
    color:  rgb(37, 36, 36);
}

body {
    background-color: rgb(37, 36, 36);
}

.container-nav {
    position: sticky;
    top: 1dvh;
z-index: 1;
}

.sticky-whatsaap {
   max-width: 9dvw;
   height: auto;
    position: sticky;
    top: 80dvh;
    left: 90dvw;
    z-index: 1;

}

.logo-club {
    max-width: 10dvw;
    height: auto;
    aspect-ratio: 5/3;
    object-fit: cover;
    border: 5px solid rgb(125, 113, 113);

}

.logoo-club {
    width: 9dvw;
    position: sticky;
    top: 10dvh;
    left: 88dvw;
    z-index: 1;
}

header {
    background-color: rgb(37, 36, 36);
    height: 100dvh;
    width: 100dvw;
}

h1 {
    color: rgb(125, 113, 113);
    letter-spacing: 0.5vw;
    word-spacing: 2vw;
    text-align: center;
    padding: 10dvh 0dvw;
    font-size: clamp(1.8rem, 5vw, 3rem);
}


.imagenes-top {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(37, 36, 36);
    justify-content: space-around;

}

.imagenes-container-gris-1 {
    width: max(20rem, 30dvw);

}

.Una-de-dos-imagenes {

    aspect-ratio: 5/3;

    border: 5px solid rgb(125, 113, 113);
    position: relative;
    animation: cambioimagen 20s infinite;
    transition-duration: 0;
}


.Imagen-Encabezado {
    aspect-ratio: 5/3;

    position: absolute;
    border: 5px solid rgb(125, 113, 113);
    transition-duration: 0.1;
    animation: cambioimagen 20s infinite;
}

@keyframes cambioimagen {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}


.foto-logo {
    aspect-ratio: 5/3;

    position: absolute;
    border: 5px solid rgb(125, 113, 113);
    transition-duration: 0.1;
    animation: cambiodeimagen 20s infinite;
}

@keyframes cambiodeimagen {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }


}

.imagenes-container-dannevirke {
    width: 30dvw;


    position: relative;
}



.imagenes-container-gris-2 {
    width: max(20rem, 30dvw);

}

.dos-de-dos-imagenes {
    aspect-ratio: 5/3;
    border: 5px solid rgb(125, 113, 113);
    position: relative;
    animation: cambioimagen 20s infinite;
    transition-duration: 0;
}


@media(width<=600px){
    .imagenes-container-gris-2{display: none;}
    .imagenes-container-gris-1{display: none;}
}

.icono-navegacion {
    color: rgb(111, 100, 100);
}

.icono-navegacion:hover {
    color: rgb(204, 190, 190);
}

.barra-navegacion {
    background-color: rgb(27, 26, 26);
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;


}



a {
    color: rgb(111, 100, 100);
    font-size: clamp(1rem, 5vw, 2rem);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1dvw;
}


/******************************************seccion Actividades**************************************/

main {
    align-items: center;

}

.section-actividades {
    background-color: rgb(111, 100, 100);

    width: 100dvw;
    padding-bottom: 10dvh;
}

h2 {
    padding: 10dvh 0dvw;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1dvw;
    word-spacing: 2.5dvw;
    font-weight: 900;
}

h3 {
    font-size: 1.5rem;
    word-spacing: 1vw;
    letter-spacing: 0.25vw;
    margin: 3dvh 3dvw;
}





.evento-b {
    width: 40dvw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(212, 210, 210);
    font-weight: 500;
    border: 5px solid rgb(125, 113, 113);

}






.container-fotos {
    width: max(20rem, 30dvw);
    list-style: none;



}

.fotos-b {
    aspect-ratio: 5/3;
    border: 5px solid rgb(125, 113, 113);

}

.descripcion {
    color: rgb(17, 17, 17);
    font-size: 1.5rem;
    padding-top: 8dvh;
}

.mes-y-evento {
    display: flex;

    justify-content: space-evenly;
    align-items: center;
    margin: 10dvh 10dvw;
    padding: 2dvh 0;
    background-color: rgb(125, 113, 113);


}
.mes-actividad{
    font-size:clamp(1.8rem,5vw,3rem);
    font-weight: 900;
    margin-bottom: 2dvh;
}
.evento{
    font-size: clamp(1.2rem,4vw,2rem);
    font-weight: 100;
    letter-spacing: normal;
    margin: 0;
}

#Actividades {
    color: rgb(212, 210, 210);
}

/***************************************************seccion servicios*************************/
.section-servicios {

    padding: 5dvh 5dvw;

    background-color: rgb(125, 113, 113);
    ;


}

#Servicios {
    color: rgb(212, 210, 210);
    ;
}


.dos {

    margin: 10dvh 2dvw;
    
}

.titulo-servicios {
    
    font-size: 1.5rem;
color: rgb(218 211 211);

}



.titulo-servicios- {
    color: rgb(27, 26, 26);

    font-weight: 150px;
    font-size: clamp (1rem, 2.5vw, 1.5rem);
    padding: 0px 30px 0px 0px;
}
.titulo-items-servicios{
margin: 10dvh 0dvw;
}
.contacto {
    color: rgb(27, 26, 26);
    font-weight: 100px;
    font-size: 1.5rem;
    margin: 120px 30px 50px 200px;
    letter-spacing: 1px;

}

.contacto:hover {
    color: rgb(27, 26, 26);
}

/******************************************secion festival ISOCA**************************************/

.section-festival {
    height: 100dvh;
    background-color: rgb(111, 100, 100);
    color: rgb(212, 210, 210);
}

.imagenes-festival {
    display: flex;

    flex-wrap: wrap;
    padding: min(2rem, 5hvw)
}

.imagen-festival {
    border: 5px solid rgb(125, 113, 113);
    width: 480px;
    height: auto;
    margin: 5px;
}

/*****************************************************seccion club******************************************/
.section-club {

    background-color: rgb(162, 146, 146);

    padding: 5dvh 5dvw;


}

.margenes-seccion-club {
    margin: min(2rem, 5vw);
    font-size: 1.5rem;



}



.fotos-club-miembros {


    width: max(15rem, 20dvw);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.foto {

    margin: 1dvh 1dvw;
    aspect-ratio: 5/4;
    object-fit: cover;
    border: 5px solid rgb(125, 113, 113);

}


.comisiones {
    display: flex;
    display: inline-block;

}


summary {
    cursor: pointer;
}

.contenedor-comision {
    position: relative;
}






.libro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10dvh 2dvw;

}

.container-foto-libro {
    width: 30dvw;



}

.container-info-libro {
    width: 40dvw;
}

.info-libro {
    color: rgb(17, 17, 17);
    font-size: clamp(1.5rem, 1vw, 70ch);
    padding-top: 8dvh;

}

.foto {



    aspect-ratio: 3/5;

    border: 5px solid rgb(125, 113, 113);
    position: relative;
    display: flex;
    flex-direction: row;

}



.periodo {
    height: 100px;
    width: 100px;
    position: absolute;
    color: black;
    opacity: 1;
    transition: opacity o, 3 easy;



}

.cargos-en-comision {
    height: 100vh;
    width: 40vw;
    background-color: white;
    color: black;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 0, 3s ease;
}

.periodo :hover {
    opacity: 1;

}

.cargos-en-comision :hover {
    opacity: 1;
}

.tres-columnas {
    display: flex;
    flex-wrap: wrap;
    column-gap: 300px;
    padding-top: 10px;
}










.redes-sociales {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0px 0px 0px;
    font-size: 1.5rem;
    background-color: rgb(111, 100, 100);
    ;
}
.container-ubicacion{
    display: flex;
    flex-wrap: wrap;
    margin: 3dvh 3dvw;
}
.mapas {
    display: flex;
    flex-wrap: wrap;
    

}

.mapa-dibujo {
    border: 5px solid rgb(125, 113, 113);
}

/******************************************************************************************************/




footer {

    background-color: rgb(111, 100, 100);
    color: rgb(212, 210, 210);
    height: 100dvh;
    width: 100dvw;
}


.agradecimientos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: rgb(37,36,36);
    margin: 10dvh 5dvw;
    
}

.t {

    letter-spacing: 1px;
    font-weight: 70px;
    font-size: 1.5rem;
}

